# Main prod requirements

# To generate requirements file, run:
# pip-compile --generate-hashes --output-file=requirements.prod.txt requirements.prod.in

ebmdatalab==0.0.21
jsonschema==3.2.0
pandas==1.0.1
